packages: [
  "atom-python-test"
  "atomatigit"
  "autocomplete-python"
  "color-picker"
  "emmet"
  "file-icons"
  "focus-follows-mouse"
  "git-log"
  "git-plus"
  "git-time-machine"
  "language-ansible"
  "language-diff"
  "language-docker"
  "language-groovy"
  "linter-docker"
  "merge-conflicts"
  "minimap"
  "nyancat"
  "package-sync"
  "pigments"
  "project-manager"
  "python-indent"
  "python-tools"
  "regex-railroad-diagram"
  "terminal-plus"
  "yuno-commit"
]
